<div class="row">
    <legend>LISTA DE PROVEEDORES</legend>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">NIT</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each proveedores}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{nombre}}</td>
                    <td>{{nit}}</td>
                    <td>{{email}}</td>
                    <td>{{telefono}}</td>
                    <td>
                        <button onclick="location.href='/proveedores/edit/{{_id}}';">
                            Editar
                        </button>
                    </td>
                    <td>
                        <input type="checkbox" {{#if (verificarEstado estado 'Activo')}}checked{{/if}} data-toggle="toggle" data-on="Activo" data-off="Inactivo" data-onstyle="success" data-offstyle="danger">
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>