<div class="row">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo Documento</th>
                    <th scope="col"># Documento</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{tipoDeDocumento}}</td>
                    <td>{{numeroDocumento}}</td>
                    <td>{{nombres}}</td>
                    <td>{{apellidos}}</td>
                    <td>
                        <button onclick="location.href='/usuarios/edit/{{_id}}';">
                            Editar
                        </button>
                    </td>
                    <td>
                        <button>
                            Inactivar
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>