{{!-- edita los datos de usuario que ya estan registrados  --}}
<form action="/usuarios/actualizar-usuario" method="post" id="formulario">
    <legend>REGISTRO DE USUARIOS</legend>
    {{!-- valida el usuario que quiere modificar --}}
    <input type="hidden" value="{{usuario._id}}" name="usuarioId" />
    <div id="divTipoDoc" class="form-group row">
        <label for="tipoDocumento" class="col-sm-2 control-label">Tipo de Documento: </label>
        <div class="col-sm-10">
            {{!-- verifica el documento del usuarios  --}}
            <select name="tipoDocumento" id="tipoDocumento" class="form-control" disabled>
                <option value="Cedula de Ciudadanía"
                    {{#if (verificarTipoDoc usuario.datosPersonales.tipoDocumento 'Cedula de Ciudadanía')}}selected{{/if}}>
                    Cedula de Ciudadanía</option>
                <option value="Tarjeta de Identidad"
                    {{#if (verificarTipoDoc usuario.datosPersonales.tipoDocumento 'Tarjeta de Identidad')}}selected{{/if}}>
                    Tarjeta de Identidad</option>
            </select>
        </div>
    </div>
    {{!-- muestra los datos que se quieren modificar --}}
    <div id="divDoc" class="form-group row">
        <label for="inputNumDoc" class="col-sm-2 col-form-label">N° Documento: </label>
        <div class="col-sm-10">
            <input name="numDoc" type="text" class="form-control" id="inputNumDoc"
                value="{{usuario.datosPersonales.numeroDocumento}}" disabled>
        </div>
    </div>
    <div id="divFechaNac" class="form-group row">
        <label for="inputFechaNac" class="col-sm-2 col-form-label">Fecha Nacimiento: </label>
        <div class="col-sm-10">
            <input name="fechaNac" type="date" class="form-control" id="inputFechaNac"
                value="{{usuario.datosPersonales.fechaNacimiento}} " disabled>
        </div>
    </div>
    <div id="divGen" class="form-group row">
        <label for="inputGen" class="col-sm-2 col-form-label">Genero: </label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" id="inlineRadio1" value="Femenino"
                    {{#if (verificarGenero usuario.datosPersonales.genero 'Femenino')}}checked{{/if}} disabled>
                <label class="form-check-label" for="inlineRadio1">Femenino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" id="inlineRadio2" value="Masculino"
                    {{#if (verificarGenero usuario.datosPersonales.genero 'Masculino')}}checked{{/if}} disabled>
                <label class="form-check-label" for="inlineRadio2">Masculino</label>
            </div>
        </div>
    </div>
    <div id="divNombres" class="form-group row">
        <label for="inputNombres" class="col-sm-2 col-form-label">Nombres: </label>
        <div class="col-sm-10">
            <input name="nombre" type="text" class="form-control" id="inputNombres"
                value="{{usuario.datosPersonales.nombres}}" disabled>
        </div>
    </div>
    <div id="divApellidos" class="form-group row">
        <label for="inputApellidos" class="col-sm-2 col-form-label">Apellidos: </label>
        <div class="col-sm-10">
            <input name="apellidos" type="text" class="form-control" id="inputApellidos"
                value="{{usuario.datosPersonales.apellidos}}" disabled>
        </div>
    </div>
    <div id="divTelefonoFijo" class="form-group row">
        <label for="inputTelefonoFijo" class="col-sm-2 col-form-label">Telefono fijo: </label>
        <div class="col-sm-10">
            <input name="tel_fij" type="text" class="form-control" id="inputTelefonoFijo"
                value="{{usuario.datosPersonales.telefonoFijo}}" disabled>
        </div>
    </div>
    <div id="divCelular" class="form-group row">
        <label for="inputCelular" class="col-sm-2 col-form-label">Celular: </label>
        <div class="col-sm-10">
            <input name="celular" type="text" class="form-control" id="inputCelular"
                value="{{usuario.datosPersonales.celular}}" disabled>
        </div>
    </div>
    <div id="divDireccion" class="form-group row">
        <label for="inputDireccion" class="col-sm-2 col-form-label">Dirección: </label>
        <div class="col-sm-10">
            <input name="direccion" type="text" class="form-control" id="inputDireccion"
                value="{{usuario.datosPersonales.direccion}}" disabled>
        </div>
    </div>
    <div id="divEmail" class="form-group row">
        <label for="inputEmail" class="col-sm-2 col-form-label">Correo: </label>
        <div class="col-sm-10">
            <input name="direc" type="text" class="form-control" id="inputEmail"
                value="{{usuario.datosPersonales.correo}}" disabled>
        </div>
    </div>
    <div id="divRol" class="form-group row">
        <label for="inputRol" class="col-sm-2 col-form-label">Rol: </label>
        <div class="col-sm-10">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rol" id="inlineRadioAdministrador" value="1"
                    {{#if (verificarRol usuario.rol '1')}}checked{{/if}} disabled>
                <label class="form-check-label" for="inlineRadioAdministrador">Administrador</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rol" id="inlineRadioAuxiliar" value="2"
                    {{#if (verificarRol usuario.rol '2')}}checked{{/if}} disabled>
                <label class="form-check-label" for="inlineRadioAuxiliar">Auxiliar</label>
            </div>
        </div>
    </div>
    <div id="divBotones" class="form-group">
        <div>
            {{!-- renderiza la lista de usuarios que ya estan registrados --}}           
             <button onclick="location.href='/usuarios/edit/{{_id}}';" value="Editar" class="btn btn-secondary">Editar</button>
            <input type="button" value="Imprimir" onclick="window.print()" class="btn btn-secondary">
            <input type="button" class="btn btn-secondary" value="Cancelar"
                onClick="window.location.href='/usuarios/all'">
        </div>
    </div>
</form>