

{{!-- formulario para los datos de usuarios y registrar un nuevo usuario --}}
<center><!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Registrar USUARIO</title>
    <link rel="stylesheet" href="css/usuario_registrar.css">
</head>

<body>
    <form action="/usuarios/actualizar-usuario" method="post" id="formulario" class="usuarios">

        <fieldset>
            <legend>DATOS DEL USUARIO</legend>
            <input type="hidden" value="{{usuario._id}}" name="usuarioId" />
            <div id="tip_doc">
                <label for="">Tipo de Documento: </label>
                <select name="tipoDoc" id="tipoDoc" class="caja_texto">
                    <option value="Cedula de Ciudadanía" {{#if (verificarTipoDoc usuario.tipoDeDocumento 'Cedula de Ciudadanía')}}selected{{/if}}>Cedula de Ciudadanía</option>
                    <option value="Tarjeta de Identidad" {{#if (verificarTipoDoc usuario.tipoDeDocumento 'Tarjeta de Identidad')}}selected{{/if}}>Tarjeta de Identidad</option>
                </select>
            </div>
            <div id="doc">
                <label for="">N° Documento: </label>
                <input name='numDoc' type='text' tabindex='1' value="{{usuario.numeroDocumento}}" class="caja_texto">
            </div>

            <div id="fecha_nac">
                <label for="">Fecha de Nacimiento: </label>
                <input name="fechaNac" type="date" id="fecha_nacimiento" value="{{usuario.fechaNacimiento}}">
            </div>

            <div id="gen">
                <label for="">Genero: </label>
                <input type="radio" class="genero" value="Femenino" name="genero" id="f" {{#if (verificarGenero usuario.genero 'Femenino')}}checked{{/if}}><label for="" id="lbl_fem" >Femenino</label>
                <input type="radio" class="genero" value="Masculino" name="genero" id="m" {{#if (verificarGenero usuario.genero 'Masculino')}}checked{{/if}}><label for="" id="lbl_mas">Masculino</label>
            </div>

            <div id="nomb">
                <label for="">Nombres: </label>
                <input name='nombre' type='text' tabindex='1' class="caja_texto" value="{{usuario.nombres}}">
            </div>

            <div id="apel">
                <label for="">Apellidos: </label>
                <input name='apellidos' type='text' tabindex='2' class="caja_texto" value="{{usuario.apellidos}}">
            </div>

            <div id="tel">
                <label for="">Telefono fijo: </label>
                <input name='tel_fij' type='text' tabindex='2' class="caja_texto" value="{{usuario.telefonoFijo}}">
            </div>

            <div id="cel">
                <label for="">Celular: </label>
                <input name='celular' type='text' tabindex='2' class="caja_texto" value="{{usuario.celular}}">
            </div>

            <div id="email">
                <label for="">Correo: </label>
                <input name='direc' type='text' tabindex='2' class="caja_texto" value="{{usuario.correo}}">
            </div>

            <div id="rol">
                <label for="">Rol: </label>
                <input type="radio" class="rol" value="1" name="rol" id="adm" {{#if (verificarRol usuario.rol '1')}}checked{{/if}}><label for="" id="lbl_adm">Administrador</label>
                <input type="radio" class="rol" value="2" name="rol" id="aux" {{#if (verificarRol usuario.rol '2')}}checked{{/if}}><label for="" id="lbl_aux">Auxiliar</label>
            </div>

            <div id="botones">
                <input type="submit" value="Guardar">
                <input type="button" value="Reiniciar Campos">
                <input type="button" value="Cancelar">
            </div>

        </fieldset>



    </form>
</body>

</html></center>