{{!-- formulario para editar proveedores --}}
<form id="formulario" class="formularioremision">
     <img src="../../img/WhatsApp Image 2020-07-18 at 11.40.34 AM.jpeg" alt="" class="logoNovastock" >
    <legend>DATOS DE FACTURA</legend>
    <div id="divNombre" class="form-group row">
        <label for="inputNumero" class="col-sm-2 col-form-label">Número: </label>
        <div class="col-sm-10">
            <input name="nombre" type="text" class="form-control" id="inputNumero" value="{{factura.numero}}" disabled>
        </div>
    </div>
    <div id="divNit" class="form-group row">
        <label for="inputEstado" class="col-sm-2 col-form-label">Estado: </label>
        <div class="col-sm-10">
            <input name="nit" type="text" class="form-control" id="inputEstado" value="{{factura.estado}}" disabled>
        </div>
    </div>
    <div class="row">
        <legend>
            <h1>LISTADO DE PRODUCTOS</h1>
        </legend>
        <div class="table table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        {{!-- por cada proveedor registrado --}}
                        <th scope="col" class="texto-alineacion">#</th>
                        <th scope="col" class="texto-alineacion">NOMBRE</th>
                        <th scope="col" class="texto-alineacion">CANTIDAD</th>
                        <th scope="col" class="texto-alineacion">CODIGO BARRAS</th>
                    </tr>
                </thead>
                <tbody>
                    {{!-- pinta los datos en el HTML   --}}
                    {{#each factura.detalles}}
                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{producto.nombre}}</td>
                        <td>{{cantidadCompra}}</td>
                        <td>{{codigoBarras}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div id="divBotones" class="form-group">
        <div>
            <input type="button" class="btn btn-secondary" value="Nueva Factura"
            onclick="window.location.href='/Factura'">
            <input type="button" value="Imprimir" onclick="window.print()" class="btn btn-secondary">
        </div>
    </div>
</form>