<div class="row">
    <legend>LISTA DE PRODUCTOS</legend>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">tipo</th>
                    <th scope="col">precio</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                  <th scope="row">{{inc @index}}</th>
                  <td>{{nombre}}</td>
                  <td>{{descripcion}}</td>
                  <td>{{tipo}}</td>
                   <td>{{precio}}</td>
                  <td>
                      <button onclick="location.href='/productos/edit/{{_id}}';">
                          Editar
                      </button>
                  </td>
                  <td>
                        <input id="toggle-estado-{{inc @index}}" type="checkbox" {{#if (verificarEstado estado 'Activo')}}checked{{/if}} data-toggle="toggle" data-on="Activo" data-off="Inactivo" data-onstyle="success" data-offstyle="danger" onchange="functionTest(this, '{{_id}}');">
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
          function functionTest(e, identifier){
            const XHR = new XMLHttpRequest();

            // Define what happens on successful data submission
            XHR.addEventListener( 'load', function(event) {
              if(XHR.readyState === XMLHttpRequest.DONE) {
                var status = XHR.status;
                var modal = $('#myModal');
                if (status === 0 || (status >= 200 && status < 400)) {
                  modal.find('.modal-body h4').text('Operación realizada exitosamente');
                  modal.modal('show');
                } else {
                  console.log('Status error code: ', status);
                  modal.find('.modal-title').text('Error');
                  modal.find('.modal-body h4').text('Error al ejecutar la operacion.');
                  modal.modal('show');
                  if (!e.checked) {
                    var toggle = $('#' + e.id).data('bs.toggle');
                    toggle.on(true);
                  } else {
                    var toggle = $('#' + e.id).data('bs.toggle');
                    toggle.off(true);
                  }                    
                }
              }
            } );

            // Set up our request
            if (e.checked) {
              XHR.open( 'POST', '/productos/habilitar' );
            } else {
              XHR.open( 'POST', '/productos/deshabilitar' );
            }

            var data = {};
            data.id = identifier;
            let json = JSON.stringify(data);

            XHR.setRequestHeader('Content-type','application/json; charset=utf-8');
            XHR.send( json );
          }    
      </script>
</div>