<div class="row">
    <legend>LISTA DE PRODUCTOS</legend>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">descripcion</th>
                    <th scope="col">tipo</th>
                    <th scope="col">precio</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td>{{nombre}}</td>
                    <td>{{descripcion}}</td>
                    <td>{{tipo}}</td>
                     <td>{{precio}}</td>
                    <td>
                        <button onclick="location.href='/productos/edit/{{_id}}';">
                            Editar
                        </button>
                    </td>
                    <td>
                          <input type="checkbox" {{#if (verificarEstado estado 'Activo')}}checked{{/if}} data-toggle="toggle" data-on="Activo" data-off="Inactivo" data-onstyle="success" data-offstyle="danger" onchange="functionTest(this, ' + {{_id}} + ');">
                      </td>
                  </tr>
                  {{/each}}
              </tbody>
          </table>
      </div>
      <script type="text/javascript">
          function functionTest(e, identifier){
            console.log(e.checked);
            console.log(identifier);

            const XHR = new XMLHttpRequest();

            // Define what happens on successful data submission
            XHR.addEventListener( 'load', function(event) {
              alert( 'Yeah! Data sent and response loaded.' );
            } );

            // Define what happens in case of error
            XHR.addEventListener( 'error', function(event) {
              alert( 'Oops! Something went wrong.' );
            } );

            // Set up our request
            if (e.checked) {
              XHR.open( 'POST', '/productos/habilitar' );
            } else {
              XHR.open( 'POST', '/productos/deshabilitar' );
            }

            // Add the required HTTP header for form data POST requests
            XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );

            // Finally, send our data.
            XHR.send( { id : identifier} );
          }    
      </script>
            </tbody>
        </table>
    </div>
</div>